<section class="careers-bg">
    <div class="container">
        <div class="Careers-mt">
            <a href="">
                <div class="Careers-text">
                    Careers
                </div>
            </a>
            <div>
                <h1 class="Careers-heading">
                    Careers at SGS
                </h1>
            </div>
            <div class="Careers-sgs">
                Be the change. Be SGS.
            </div>
        </div>
    </div>
</section>
<div class="">
    <div class="">
        <div class="tabset ">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
            <label for="tab1" class="careers">careers</label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
            <label for="tab2">Job Opportunities</label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
            <label for="tab3">Developing our People</label>
            
            <div class="tab-panels">
              <section id="marzen" class="tab-panel">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                
                            </div>
                            <div class="col-md-6">
                                <div class="section-2-p">
                                    <p class="Careers-p">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsam corporis, expedita
                                        assumenda blanditiis, fugit placeat, exercitationem recusandae possimus quia harum iusto ad sit
                                        consequuntur nesciunt tenetur deserunt. Repudiandae, facere!
                                        <br> <br>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia sapiente, aut commodi
                                        repellendus tempora laudantium deleniti amet voluptatibus pariatur, at dolorem! Ea aliquam
                                        inventore reiciendis, consectetur obcaecati eos ratione ducimus!
                                    </p>
                
                                </div>
                            </div>
                            <div class="col-md-3">
                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <div class="careers-bg-play">
                                    <img src="../../assets/img/careers-play.avif" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-1">
                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                
                            </div>
                            <div class="col-md-6">
                                <div class="section-2-p">
                                    <h3 class="section-2-h3">
                                        We offer stability, opportunities for growth and the chance to make a difference.
                                    </h3>
                                    <p class="mt-4">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsam corporis, expedita
                                        assumenda blanditiis, fugit placeat, exercitationem recusandae possimus quia harum iusto ad sit
                                        consequuntur nesciunt tenetur deserunt. Repudiandae, facere!
                
                                    </p>
                
                                </div>
                            </div>
                            <div class="col-md-3">
                
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-6 section-2-col-6">
                                <div class="d-flex">
                                    <div class="section-2-icons">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                            class="bi bi-check" viewBox="0 0 16 16">
                                            <path
                                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h3>
                                            Be Proud
                                        </h3>
                                        <p>As part of the world’s leading testing, inspection and certification company, you’ll share
                                            our stability and growth. Enjoy a truly rewarding career in a financially stable, global,
                                            multicultural, Swiss-based organization with a proud heritage that has been making the world
                                            a better, safer place for over 140 years.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 section-2-col-6">
                                <div class="d-flex">
                                    <div class="section-2-icons">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                            class="bi bi-check" viewBox="0 0 16 16">
                                            <path
                                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h3>
                                            Be the Difference
                                        </h3>
                                        <p>Help build a better, safer and more interconnected world. Enjoy a fulfilling career with the
                                            opportunity to truly make a difference – to yourself, your career, your community and the
                                            world.</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-6 section-2-col-6">
                                <div class="d-flex">
                                    <div class="section-2-icons">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                            class="bi bi-check" viewBox="0 0 16 16">
                                            <path
                                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h3>
                                            Be Collaborative
                                        </h3>
                                        <p>Expand and enrich your career through endless opportunities to learn, grow your expertise and
                                            fulfill your potential.</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-6 section-2-col-6">
                                <div class="d-flex">
                                    <div class="section-2-icons">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                            class="bi bi-check" viewBox="0 0 16 16">
                                            <path
                                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h3>
                                            Be the Expert
                                        </h3>
                                        <p>Expand and enrich your career through endless opportunities to learn, grow your expertise and
                                            fulfill your potential.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- section-3  -->
                <section class="section-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-12 section-3-col-3 p-0 m-0 ">
                                        <div>
                                            <img src="../../assets/img/careers-card.avif" alt="" class="img-col-3">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 section-3-col-3 p-0 m-0 ">
                                        <div class="section-3-card">
                                            <h4 class="fw-bold text-white">
                                                2,650 offices and labs
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 section-3-col-3 p-0 m-0 ">
                                        <div>
                                            <img src="../../assets/img/careers-card-2.avif" alt="" class="img-col-3">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 section-3-col-3 p-0 m-0 ">
                                        <div class="section-3-card">
                                            <h4 class="fw-bold text-white">
                                                97,000 employees
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 section-3-col-3 p-0 m-0 ">
                                        <div class="section-3-card">
                                            <h4 class="fw-bold text-white">
                                                20+sectors
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 section-3-col-3 p-0 m-0 ">
                                        <div>
                                            <img src="../../assets/img/careers-card-3.avif" alt="" class="img-col-3">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 section-3-col-3 p-0 m-0 ">
                                        <div class="section-3-card">
                                            <h4 class="fw-bold text-white">
                                                3,500+ open position
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 section-3-col-3 p-0 m-0 ">
                                        <div>
                                            <img src="../../assets/img/careers-card-4.avif" alt="" class="img-col-3">
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                            <div class="col-md-1">
                
                            </div>
                        </div>
                    </div>
                </section>
                
                <!--  section-4  -->
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 section-4-col-4 d-flex justify-content-center align-items-center">
                <div class="section-4-m">
                <h2 class="section-4-h2">
                    Meet our People
                </h2>
                <div>
                    <p>
                        Discover what a rewarding career at SGS is like from the people that work here.
                    </p>
                
                    <button type="button" class="Culture-btn">People & Culture<span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-arrow-right-short arrow-rihgt ms-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                        </svg>
                    </span>
                </button>
                </div>
                </div>
                            </div>
                            <div class="col-md-4 section-4-col-4 d-flex justify-content-center">
                                <div class="card  border-0 position-static" style="width: 26rem;">
                                    <div class="section-4-card ">
                                    <img src="../../assets/img/careers-card-5.avif" class="card-img-top" alt="...">
                
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            Key Account Manager, Sample Management Services, United States
                                        </p>
                                      <h2 class="card-title fw-bold">Karin Lord</h2>
                                      <p class="card-text">“At SGS, every day is a learning experience for me. I work with clients with different needs from a wide range of industries – no two projects are the same. My team members have varying career and educational backgrounds. By sharing our knowledge, we can help our clients operate more efficiently.”</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-4 section-4-col-4 d-flex justify-content-center">
                                <div class="card  border-0 position-static" style="width: 26rem;">
                                    <div class="section-4-card ">
                                    <img src="../../assets/img/careers-card-6.avif" class="card-img-top" alt="...">
                
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            SGS EHS Adm. Chemist, Taiwan
                                        </p>
                                      <h2 class="card-title fw-bold">Marvin Hsu</h2>
                                      <p class="card-text">“People are valued at SGS. I can expand my career through endless opportunities to learn, grow my expertise and maximize my potential. Plus, the friendly, collaborative environment ensures that we all thrive through teamwork.”</p>
                                    </div>
                                  </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
                
                
                
                
                <!-- section-5  -->
                <section class=" section-5-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                
                            </div>
                            <div class="col-md-6">
                                <div class=" section-5-p">
                                    <h2 class=" section-5-heading">
                                        Find your ideal role
                                    </h2>
                                    <p class="section-5-text">
                                        If you value fairness, honesty, integrity and want to build a better, safer world, we want to hear from you.
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="view-btn">See vacancies<span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                                    class="bi bi-arrow-right-short arrow-rihgt ms-2" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                
                            </div>
                        </div>
                
                    </div>
                </section>
            </section>
              <section id="rauchbier" class="tab-panel">
                <h2>6B. Rauchbier</h2>
                <p><strong>Overall Impression:</strong>  An elegant, malty German amber lager with a balanced, complementary beechwood smoke character. Toasty-rich malt in aroma and flavor, restrained bitterness, low to high smoke flavor, clean fermentation profile, and an attenuated finish are characteristic.</p>
                <p><strong>History:</strong> A historical specialty of the city of Bamberg, in the Franconian region of Bavaria in Germany. Beechwood-smoked malt is used to make a Märzen-style amber lager. The smoke character of the malt varies by maltster; some breweries produce their own smoked malt (rauchmalz).</p>
              </section>
              <section id="dunkles" class="tab-panel">
                <h2>6C. Dunkles Bock</h2>
                <p><strong>Overall Impression:</strong> A dark, strong, malty German lager beer that emphasizes the malty-rich and somewhat toasty qualities of continental malts without being sweet in the finish.</p>
                <p><strong>History:</strong> Originated in the Northern German city of Einbeck, which was a brewing center and popular exporter in the days of the Hanseatic League (14th to 17th century). Recreated in Munich starting in the 17th century. The name “bock” is based on a corruption of the name “Einbeck” in the Bavarian dialect, and was thus only used after the beer came to Munich. “Bock” also means “Ram” in German, and is often used in logos and advertisements.</p>
              </section>
            </div>
            
          </div>
    </div>
</div>
<!-- <section-2> -->
