.btn-search{
    background-color: white;
    border: 0px;
    border-radius: 2px;
    width: 110px;
    height: 45px;
    color: black;
}
.search-button{
    border: solid 1px rgb(80, 78, 78);
    background-color: white;
}
 
.buttons {
    position: sticky;
    bottom: 0px;
  display: none !important;
  }
.btn-search:hover{
    color: #ca4300;
}
.btn-outline-success{
    background-color: #ca4300;
    border: 0px;
    border-radius: 2px;
    width: 100%;
    height: 43px;
    font-size: 15px;
    color: white;
}
.btn-outline-success:hover{
    background-color: #541e03;
}
footer{
    background-color: #3c515b;
    padding-top: 100px;
    padding-bottom: 100px;
}
.container {
    max-width: 1465px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    margin-top: 23px;
    margin-bottom: 20px;
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link:hover{
    color: #ca4300;

}
.social-icon:hover{
    color: #cfd3d5;
    opacity: .8;
    transition: opacity var(.3s) var(ease-in);
}
.footer-location{
    width: 230px;
    height: 60px;
    background-color: #596b73;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.footer-location:hover{
    color: #ca4300;
}
.orders{
    display: flex;
    justify-content: end;
}
.feedback {
    background-color : #ca4300;
    color: white;
  width: 350px;
  height: 50px;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    border:0 !important;
  }
  
  #mybutton {
    position: fixed;
    bottom: -10px;
    right: 30px;
  
  }
@media screen and (max-width:1440px) {
    .container {
        max-width: 1392px;
    }
}
@media screen and (max-width:768px) {
    .buttons {
        position: sticky;
        bottom: 0px;
      display: block !important;
      }
}
@media screen and (max-width:560px) {
   
    .orders{
        order:-1;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .feedback {
        background-color : #ca4300;
        color: white;
      width: 319px;
      height: 50px;
        border-radius: 12px;
        border:0 !important;
      }
      #mybutton {
        position: sticky;
        bottom: -10px;
        right: 30px;
      display: flex;
      justify-content: center;
      }
}

 