<section class="section-1-bg position-static">
    <div class="container">
        <div >
            <h1 class="section-1-heading">
                News & Resources
            </h1>
            </div>
        </div>
</section>

<section>
    <div class="container">
    <div>
        <p class="section-2-p">
            Get the up-to-date news from SGS and expert insights on the latest industry developments.
        </p>
    </div>
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-12 section-2-col-4 position-static boxes">
    <div>
        <img src="../../assets/img/news-1.avif" alt="" class="img">
    </div>
<div class="card ">
<h1 class="section-2-h1">
    News & Updates
</h1>
<h5 class="section-2-h5">
    Get the latest SGS news and industry updates from our experts.
</h5>

<button type="button" class="about-btn">View all white papers<span>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
        class="bi bi-arrow-right-short arrow-rihgt" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
    </svg>
</span></button>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 section-2-col-4 position-static boxes">
    <div>
        <img src="../../assets/img/news-2.avif" alt="" class="img">
    </div>
<div class="card">
<h1 class="section-2-h1">
    Webinars

</h1>
<h5 class="section-2-h5">
    Join SGS experts and guest speakers for discussions on the latest industry topics.
</h5>

<button type="button" class="about-btn">View all white papers<span>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
        class="bi bi-arrow-right-short arrow-rihgt" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
    </svg>
</span></button>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 section-2-col-4 position-static boxes">
    <div>
        <img src="../../assets/img/news-3.avif" alt="" class="img">
    </div>
<div class="card">
<h1 class="section-2-h1">
    Events
</h1>
<h5 class="section-2-h5">
    Find out about upcoming SGS events Sign up for the latest news and updates.
</h5>

<button type="button" class="about-btn">View all white papers<span>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
        class="bi bi-arrow-right-short arrow-rihgt" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
    </svg>
</span></button>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 section-2-col-4 position-static boxes">
    <div>
        <img src="../../assets/img/news-4.avif" alt="" class="img">
    </div>
<div class="card">
<h1 class="section-2-h1">
    White Papers
</h1>
<h5 class="section-2-h5">
    Read our white papers and technical bulletins on the latest developments.
</h5>

<button type="button" class="about-btn">View all white papers<span>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
        class="bi bi-arrow-right-short arrow-rihgt" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
    </svg>
</span></button>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 section-2-col-4 position-static boxes">
    <div>
        <img src="../../assets/img/news-5.avif" alt="" class="img">
    </div>
<div class="card">
<h1 class="section-2-h1">
    Newsletters
</h1>
<h5 class="section-2-h5">
    Sign up for the latest news and updates Sign up for the latest news and updates.
</h5>

<button type="button" class="about-btn">View all white papers<span>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
        class="bi bi-arrow-right-short arrow-rihgt" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
    </svg>
</span></button>
</div>
</div>
</div>
    </div>
</section>