<section>
    <div class="container">
<div class="row">
<div class="col-md-4">

</div>
<div class="col-md-4">
<div>
    <h4>
        What are you looking for?
    </h4>
</div>
<div>
    <form class="d-flex search-border" role="search">
        <input class="form-control search-form me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn search-button " type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
        </button>
      </form>
</div>
<div class="search-text">
<p>
    Some topics you might be interested in
</p>
</div>
<div class="row mb-4">
<div class="col-md-6">
<a href="">
    SGS Annual Report <span>
        <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="icons absolute right-0"><path d="M10.143 4.186l-.994.945c-.199.249-.199.646 0 .845l8.999 9-8.999 9.048c-.199.199-.199.596 0 .845l.995.945a.572.572 0 00.845 0l10.44-10.391a.673.673 0 000-.846L10.99 4.187a.572.572 0 00-.846 0z" fill="currentColor"></path></svg>
    </span>
</a>
</div>
<div class="col-md-6">
    
    <a href="">
        Job Opportunities <span>
            <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="icons absolute right-0"><path d="M10.143 4.186l-.994.945c-.199.249-.199.646 0 .845l8.999 9-8.999 9.048c-.199.199-.199.596 0 .845l.995.945a.572.572 0 00.845 0l10.44-10.391a.673.673 0 000-.846L10.99 4.187a.572.572 0 00-.846 0z" fill="currentColor"></path></svg>
        </span>
    </a>
    </div>
    <div class="col-md-6">
        <a href="">
            Upcoming Webinars <span>
                <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="icons absolute right-0"><path d="M10.143 4.186l-.994.945c-.199.249-.199.646 0 .845l8.999 9-8.999 9.048c-.199.199-.199.596 0 .845l.995.945a.572.572 0 00.845 0l10.44-10.391a.673.673 0 000-.846L10.99 4.187a.572.572 0 00-.846 0z" fill="currentColor"></path></svg>
            </span>
        </a>
        </div>
        <div class="col-md-6">
            <a href="">
                Sustainability Solutions<span>
                    <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="icons absolute right-0"><path d="M10.143 4.186l-.994.945c-.199.249-.199.646 0 .845l8.999 9-8.999 9.048c-.199.199-.199.596 0 .845l.995.945a.572.572 0 00.845 0l10.44-10.391a.673.673 0 000-.846L10.99 4.187a.572.572 0 00-.846 0z" fill="currentColor"></path></svg>
                </span>
            </a>
            </div>
</div>
</div>
<div class="col-md-4">

</div>
</div>
    </div>
</section>