<section class="section-bg position-static">
    <div class="container">
        <div class="section-1">
            <div class="row">
                <div class="col-md-6  d-flex justify-content-center align-items-center">
                    <div class="Heading">
                        <h1 data-aos="fade-up">We are the world's leading testing, inspection and certification company</h1>

                        <div class="heading-text">
                            Our value to society is enabling a better, safer and more interconnected world.
                        </div>
                        <div class="button-about">
                            <button type="button" class="about-btn">About us <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-arrow-right-short arrow-rihgt" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                    </svg>
                                </span></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center col-6-block">
                    <a href="" class="text-decoration-none ">
                        <div class="card card-1 rounded-0 position-static border-0">
                            <img src="../../assets/img/home-card.avif" class="rounded-0 img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text-1">
                                    Feature • Connectivity & Products
                                </p>
                                <h2 class="card-text-2">
                                    France Appeals Decision to Annul Titanium Dioxide as Carcinogenic
                                </h2>
                                <div class="card-p">
                                    The French government is appealing against the EU General Court’s decision to annul
                                    the classification of titanium dioxide in certain powder forms as carcinogenic.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="section-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                <div class="cardItem">
                    <div class=" card rounded-0 border-0 section-2-card position-static"  >
                        <img src="../../assets/img/frankie-ng-conversing-teaser.cdn.en.1.avif"
                            class="card-img-top cards-img rounded-0" alt="...">
                        <div class="card-body">
                            <p class="cards-text-1">
                                Corporate News • About SGS </p>
                            <h2 class="cards-text-2">
                                Bringing Our Purpose to Life: An Interview with Frankie Ng </h2>
                            <div class="cards-p">
                                We sat down with our CEO Frankie Ng to discuss how our strong spirit of solidarity is
                                helping us support our customers and communities. </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                <div class="cardItem">
                    <div class=" card rounded-0 border-0 section-2-card position-static"  >
                        <img src="../../assets/img/cdp-2022-logo-in-sky-background.cdn.en.1.avif"
                            class="card-img-top cards-img rounded-0" alt="...">
                        <div class="card-body">
                            <p class="cards-text-1">
                                Corporate News • About SGS </p>
                            <h2 class="cards-text-2">
                                Leadership Position on CDP 2022 Assessment</h2>
                            <div class="cards-p">
                                We sat down with our CEO Frankie Ng to discuss how our strong spirit of solidarity is
                                helping us support our customers and communities. </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                <div class="cardItem">
                    <div class=" card rounded-0 border-0 section-2-card position-static"  >
                        <img src="../../assets/img/sgs-oil-gas-chemical-antwerp-belgium-teaser.cdn.en.1.avif"
                            class="card-img-top cards-img rounded-0" alt="...">
                        <div class="card-body">
                            <p class="cards-text-1">
                                Corporate News • About SGS </p>
                            <h2 class="cards-text-2">
                                We Publish Our First Fully Integrated Annual Report</h2>
                            <div class="cards-p">
                                We sat down with our CEO Frankie Ng to discuss how our strong spirit of solidarity is
                                helping us support our customers and communities. </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                <div class="cardItem">
                    <div class=" card rounded-0 border-0 section-2-card position-static"  >
                        <img src="../../assets/img/little-girl-sitting-on-a-walker.cdn.en.1.avif"
                            class="card-img-top cards-img rounded-0" alt="...">
                        <div class="card-body">
                            <p class="cards-text-1">
                                Corporate News • About SGS </p>
                            <h2 class="cards-text-2">
                                Hong Kong Revises Standards for Children’s Products</h2>
                            <div class="cards-p">
                                We sat down with our CEO Frankie Ng to discuss how our strong spirit of solidarity is
                                helping us support our customers and communities. </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div>
            <div class="section-3">
                <h2 class="section-3-heading">
                    Our Services
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="" class="text-decoration-none">
                        <div class="section-3-card">
                            <div>
                                <img src="../../assets/img/small-pic-1.avif" alt="" class="img-fluid">
                            </div>
                            <div class="d-flex justify-content-center align-items-center card-border">
                                <h3 class="section-h3">
                                    Knowledge Solutions <span>
                                        <svg _ngcontent-pbw-c17="" xmlns="http://www.w3.org/2000/svg" width="25"
                                            height="25" fill="currentColor" viewBox="0 0 16 16"
                                            class="bi bi-arrow-right-short arrow-rihgt">
                                            <path _ngcontent-pbw-c17="" fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                            </path>
                                        </svg>
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="" class="text-decoration-none">
                        <div class="section-3-card">
                            <div>
                                <img src="../../assets/img/small-pic-1.avif" alt="" class="img-fluid">
                            </div>
                            <div class="d-flex justify-content-center align-items-center card-border">
                                <h3 class="section-h3">
                                    Knowledge Solutions <span>
                                        <svg _ngcontent-pbw-c17="" xmlns="http://www.w3.org/2000/svg" width="25"
                                            height="25" fill="currentColor" viewBox="0 0 16 16"
                                            class="bi bi-arrow-right-short arrow-rihgt">
                                            <path _ngcontent-pbw-c17="" fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                            </path>
                                        </svg>
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="" class="text-decoration-none">
                        <div class="section-3-card">
                            <div>
                                <img src="../../assets/img/small-pic-1.avif" alt="" class="img-fluid">
                            </div>
                            <div class="d-flex justify-content-center align-items-center card-border">
                                <h3 class="section-h3">
                                    Knowledge Solutions <span>
                                        <svg _ngcontent-pbw-c17="" xmlns="http://www.w3.org/2000/svg" width="25"
                                            height="25" fill="currentColor" viewBox="0 0 16 16"
                                            class="bi bi-arrow-right-short arrow-rihgt">
                                            <path _ngcontent-pbw-c17="" fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                            </path>
                                        </svg>
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="" class="text-decoration-none">
                        <div class="section-3-card">
                            <div>
                                <img src="../../assets/img/small-pic-1.avif" alt="" class="img-fluid">
                            </div>
                            <div class="d-flex justify-content-center align-items-center card-border">
                                <h3 class="section-h3">
                                    Knowledge Solutions <span>
                                        <svg _ngcontent-pbw-c17="" xmlns="http://www.w3.org/2000/svg" width="25"
                                            height="25" fill="currentColor" viewBox="0 0 16 16"
                                            class="bi bi-arrow-right-short arrow-rihgt">
                                            <path _ngcontent-pbw-c17="" fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                            </path>
                                        </svg>
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="" class="text-decoration-none">
                        <div class="section-3-card">
                            <div>
                                <img src="../../assets/img/small-pic-1.avif" alt="" class="img-fluid">
                            </div>
                            <div class="d-flex justify-content-center align-items-center card-border">
                                <h3 class="section-h3">
                                    Knowledge Solutions <span>
                                        <svg _ngcontent-pbw-c17="" xmlns="http://www.w3.org/2000/svg" width="25"
                                            height="25" fill="currentColor" viewBox="0 0 16 16"
                                            class="bi bi-arrow-right-short arrow-rihgt">
                                            <path _ngcontent-pbw-c17="" fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                            </path>
                                        </svg>
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="" class="text-decoration-none">
                        <div class="section-3-card">
                            <div>
                                <img src="../../assets/img/small-pic-1.avif" alt="" class="img-fluid">
                            </div>
                            <div class="d-flex justify-content-center align-items-center card-border">
                                <h3 class="section-h3">
                                    Knowledge Solutions <span>
                                        <svg _ngcontent-pbw-c17="" xmlns="http://www.w3.org/2000/svg" width="25"
                                            height="25" fill="currentColor" viewBox="0 0 16 16"
                                            class="bi bi-arrow-right-short arrow-rihgt">
                                            <path _ngcontent-pbw-c17="" fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                            </path>
                                        </svg>
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-4-bg position-static">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="section-4-p">
                    <h2 class="section-4-heading">
                        Work With Us
                    </h2>
                    <p class="section-4-text">
                        Search current vacancies, sign up for alerts and apply for positions.
                    </p>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="view-btn">View careers<span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-arrow-right-short arrow-rihgt ms-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
<div class="row">
<div class="col-md-4">

</div>
<div class="col-md-4">
    <div class="section-5-p">
        <div data-aos="fade-up">
            <h3 class="section-5-heading" data-aos="fade-up">
                Looking for something specific?
            </h3>
        </div>
        <form class="d-flex search-shadow" role="search">
            <input class="form-control me-2 border-0" type="search" placeholder="Search" aria-label="Search">
            <button class="btn search-btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></button>
          </form>
    </div>
</div>
<div class="col-md-4">

</div>
</div>
    </div>
    
</section>





  
